

.transactionEntry {
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    width: 100%;
}

.transactionSidesContainer {
    margin-top: 4px;
    width: 100px;
    display: flex;
}

.transactionTitle {
    font-size: 16px;
    line-height: 250%;
}

.transactionValue {
    font-size: 24px;
    line-height: 150%;
    font-weight: bold;
    float: right;
}

.transactionArrow {
    margin: 2px 4px;
}


.profileMiniAvatar {
    background-color: red;
    color: white;
    width: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
}
